.card-link {
  text-align: center;
  width: 70%;
  border-radius: 1em;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.281);
  background-color: #003459;
  color: #ffffff;
}

.card-link p {
  font-weight: 550;
}

.center-card {
  display: flex;
  align-items: center;
  justify-content: center;
}
