ion-list-header h2 {
  font-family: Oswald !important;
  color: rgb(0, 126, 167);
  font-size: 25px;
}

ion-item p {
  font-family: Roboto-Regular !important;
  font-size: 15px;
}

ion-select {
  font-family: Oswald !important;
  --placeholder-opacity: 1;
}

ion-label {
  font-family: Oswald !important;
}

.custom-select {
  font-family: Oswald !important;
  font-weight: 550;
  font-size: 18px;
  color: rgb(0, 126, 167);
  opacity: 1;
  border-radius: 1em;
  box-shadow: 1px 0px 8px rgba(56, 126, 255, 0.411);
  margin-bottom: 0.4em;
  margin-top: 0.4em;
  margin-left: 3em;
  margin-right: 3em;
}

.header-top {
  margin-top: 0.5em;
}

.item-group-top {
  margin-top: -0.6em;
}
